/* === FOOTER STYLES === */
footer {
    background-color: var(--dblue);
    color: var(--beige);
    text-align: center;
    padding: 4em 8vw;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#socials {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

#socials a {
    color: var(--beige);
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

#socials a:hover {
    color: var(--lblue);
    transform: translateY(-3px);
}