/* === MAIN STYLES === */

/* Color Palette & Global Settings */
:root {
    --dblue: #121631;
    --lblue: #00B4D8;
    --beige: #FFFCF4;
    --text-light: #F8F7F1;
    --text-dark: #02023d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--dblue);
    color: var(--text-light);
    /* Remove the margin-top to allow the canvas to fill the screen */
}

/* Reusable Title Style */
.title {
    font-size: 3rem;
    font-weight: 800;
    color: var(--beige);
    position: relative;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--beige);
    position: relative;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    /* Fixed width for the underline */
    height: 6px;
    background-color: var(--lblue);
}