* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --d-blue: #03045E;  /* dark blue - primary */
    --l-blue: #00B4D8; /* light blue - secondary */
    --green: #30E2A7;
    --yellow: #FBAE17;
    --beige: #FFFCF4;
}